/*------------------------- STILE GENERALE -------------------------*/
* {
    box-sizing: border-box;
    font-family: "testo";
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #bf5959;
    overflow-x: hidden;
    transition: opacity 0.5s ease-in-out;
}

.marginBottom {
    padding-bottom: 8rem;
}

/*--------------------------- SELEZIONE LINGUE-----------------------------*/
#selezioneLinguaBarra {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    transition: transform 0.3s ease;
}

.lang-btn {
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.9375rem;
    color: #4a4a4a;
    background-color: #c6c6c6;
    box-shadow: 0rem 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.5;
    transform: scale(1);
    margin-right: 0.8rem;
}

.lang-btn:hover {
    opacity: 0.7;
}

.lang-btn.active {
    background: radial-gradient(80.97% 1714.77% at 58.68% -1061.36%, #2129c3 30%, #10145C 100%);
    color: #fff;
    opacity: 1;
    transform: scale(1.2);
}

.lang-btn.disabled {
    cursor: not-allowed;
    opacity: 0.3;
}


/*--------------------------- BARRA LOGO ----------------------------*/
#barraLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.6rem 1.25rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom: 0.3rem solid #21279b;
    ;
    box-shadow: 0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.1);
}

#nomeApp {
    font-family: 'logoTitolo';
    font-size: 2rem;
    font-weight: bold;
    color: #21279b;
    ;
    letter-spacing: 0.1rem;
}

#imgLoghi {
    display: flex;
    gap: 0.6rem;
}

#imgLoghi img {
    max-height: 3rem;
    max-width: 100%;
    border-radius: 0.6rem;
}


/*--------------------------- SLIDE TRADUZIONE ----------------------------*/

#traduzione {
    flex: 1;
    /* Ensure the translation slide takes full height */
    display: flex;
    flex-direction: column;
}

.videoContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    display: block;
    /* Ensure the container is displayed as a block element */
}

video {
    object-fit: cover;
}

#webcam {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transform: scaleX(-1);
}

#output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
    transform: scaleX(-1);
}

#gesture_output_container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    height: 15rem;
    overflow-y: auto;
    background: radial-gradient(80.97% 1714.77% at 58.68% -1061.36%, #21279B 0%, #10145C 100%);
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    z-index: 2;
    border: 3px solid #FFFFFF;
}

.output {
    margin: 0;
}

.backButton,
.clearButton {
    background: #10145C;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem 1.4rem;
    border: 3px solid #FFFFFF;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    z-index: 2;
    position: absolute;
}

.backButton {
    top: 1rem;
    left: 1rem;
}

.clearButton {
    bottom: 17rem;
    right: 1rem;
}

.backButton:active,
.clearButton:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/* -------------------------- VOCABOLARIO ---------------------------*/
#imgVocabolario {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 2rem;
    padding: 1rem;
    align-items: start;
}

.lettera {
    position: relative;
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 1 / 1;
    border: 0.6rem solid transparent;
    border-radius: 0.75rem;
    background-color: #10145C;
    box-shadow: 0rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.lettera:nth-child(odd) {
    transform: translateY(-0.5rem);
}

.lettera:nth-child(even) {
    transform: translateY(0.5rem);
}

.lettera h3 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 1.25rem;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    color: #FFD700;
    text-align: left;
    text-shadow: 0.05rem 0.05rem 0.1rem #000000ab;
    z-index: 1;
    margin: 0;
}

.lettera img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
    z-index: 0;
}


/*------------------ BARRA RICERCA VOCABOLARIO ----------------------*/
#contatti {
    align-self: center;
}

#contattiHeader {
    text-align: center;
    max-width: 23rem;
    margin: 0 auto;
}

.contattiTitolo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #21279B;
    margin-top: 1rem;
}

.contattiTesto {
    font-size: 1rem;
    color: #808080;
    margin: 0.5rem 0 1rem 0;
    line-height: 1.4;
}

/* Layout container principale */
.formContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 0.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Colonne del form */
.formColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Responsività: due colonne affiancate su desktop */
@media (min-width: 768px) {
    .formContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .formColumn {
        flex: 1 1 45%;
    }
}

/* Input e select */
input[type="text"], 
input[type="email"], 
select, 
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
    font-size: 1rem;
}

textarea {
    min-height: 6.25rem;
    resize: none;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Checkbox e radio */
.checkbox-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.checkbox-group label {
    font-weight: normal;
}

/* Pulsante */
button {
    width: 100%;
    padding: 0.8rem;
    background-color: #21279b;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3238ab;
}

/* Wrapper per la select con freccia */
.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper select {
    appearance: none;
    background-color: white;
    cursor: pointer;
    padding-right: 2rem;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    right: 1.5rem;
    top: 45%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/></svg>') no-repeat center;
    background-size: contain;
    pointer-events: none;
}

/* -------------------------------------FONT DEL SITO---------------------------------- */
@font-face {
    font-family: "testo";
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "titolo";
    src: url(fonts/Quantico-Regular.ttf);
}

@font-face {
    font-family: "logoTitolo";
    src: url(fonts/Subway-Black.ttf);
}

/*------------------------------------SELEZIONE MODALITà--------------------------------*/
#selModalita {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: calc(clamp(40vh, 10vw + 20vh, 110vh) - 50% - 24px);
}

.card {
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 0.3rem rgba(0, 0, 0, 0.1);
    width: 16rem;
    height: 22rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
}

#cardTraduttore.active img {
    content: url('img/draw/traduzioneOn.png');
}

#cardAllenamento.active img {
    content: url('img/draw/allenamentoOn.png');
}

#cardTraduttore.disactive img {
    content: url('img/draw/traduzioneOff.png');
}

#cardAllenamento.disactive img {
    content: url('img/draw/allenamentoOff.png');
}

.card-container h3 {
    font-size: 1.5rem;
    color: #000;
    margin: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    max-width: 18rem;
}

.card-container p {
    font-size: 1rem;
    color: #858585;
    margin: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    max-width: 18rem;
}

.card.active {
    background: radial-gradient(circle, #ffca28, #ff9800);
    color: #000;
}

.card.disactive {
    background: radial-gradient(80.97% 1714.77% at 58.68% -1061.36%, #21279B 0%, #10145C 100%);
    color: #fff;
    transform: scale(0.85);
}

.card.disactive~h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-left: 0.5rem;
    max-width: 15rem;
}

/* Media queries for different devices */
@media (min-width: 500px) { /* Small devices */
    #selModalita {
        margin-top: calc(40vh - 50% - 24px);
    }
}
@media (min-width: 590px) { /* Small devices */
    #selModalita {
        margin-top: calc(50vh - 50% - 24px);
    }
}
@media (min-width: 700px) { /* Small devices */
    #selModalita {
        margin-top: calc(60vh - 50% - 24px);
    }
}
@media (min-width: 800px) { /* Small devices */
    #selModalita {
        margin-top: calc(65vh - 50% - 24px);
    }
}
@media (min-width: 900px) { /* Small devices */
    #selModalita {
        margin-top: calc(70vh - 50% - 24px);
    }
}
@media (min-width: 1000px) { /* Small devices */
    #selModalita {
        margin-top: calc(75vh - 50% - 24px);
    }
}
@media (min-width: 1100px) { /* Small devices */
    #selModalita {
        margin-top: calc(80vh - 50% - 24px);
    }
}
@media (min-width: 1200px) { /* Small devices */
    #selModalita {
        margin-top: calc(90vh - 50% - 24px);
    }
}
@media (min-width: 1300px) { /* Small devices */
    #selModalita {
        margin-top: calc(95vh - 50% - 24px);
    }
}
@media (min-width: 1350px) { /* Small devices */
    #selModalita {
        margin-top: calc(100vh - 50% - 24px);
    }
}
@media (min-width: 1400px) { /* Small devices */
    #selModalita {
        margin-top: calc(105vh - 50% - 24px);
    }
}
@media (min-width: 1450px) { /* Small devices */
    #selModalita {
        margin-top: calc(110vh - 50% - 24px);
    }
}


/*-------------- SCHERMATA DI CARICAMENTO-------------*/
.loading {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #10145C;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/draw/pattern.png');
    background-repeat: repeat;
    background-size: 12rem;
    z-index: 1;
}

.logoNome {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    bottom: 15%;
}

.loading img {
    max-width: 14rem;
    width: 100%;
    height: auto;
    z-index: 2;
}

.loading h1 {
    font-family: 'logoTitolo';
    font-size: 3em;
    -webkit-text-stroke: 0.1rem #007bff;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(145, 186, 230, 0.8);
}

.loading p {
    font-family: 'logoTitolo';
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 0.3rem;
    letter-spacing: 0.01rem;
    text-shadow: 0.05rem 0.05rem 0.1rem rgba(145, 186, 230, 0.9);
}

.loading img {
    width: 12.5rem;
    height: auto;
}

/*--------------SCELTA DIFFICOLTA'-------------------*/
#selDifficolta {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#selDifficolta button {
    background-color: #0C1E60;
    color: white;
    border: none;
    padding: 1.25rem;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    position: relative;

    width: 22rem;
    height: 7.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#selDifficolta button.active {
    background: radial-gradient(circle, #FFDE3A 30%, #FCB200 100%);
    height: 10.6rem;
}

#selDifficolta button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#selDifficolta button:active {
    transform: scale(1.1);
}

#selDifficolta button span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#selDifficolta .description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E6A200;
    margin-top: 0.3rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#selDifficolta button.active .description {
    visibility: visible;
    opacity: 1;
}

/*----------------------------- SCHERMATE DI GIOCO ANCORA IN SVILUPPO -----------------------*/
.giocoSviluppo {
    text-align: center;
    padding: 1.25rem;
    background-color: #f8f8f8;
    border: 0.05rem dashed #bbb;
    border-radius: 0.5rem;
    width: 80%;
    max-width: 25rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.giocoSviluppo p {
    font-size: 1rem;
    color: #888;
}

.giocoSviluppo button {
    background-color: #ddd;
    color: #666;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: not-allowed;
    font-size: 1rem;
    opacity: 0.6;
}

/*----------------------------- DESKTOP -----------------------*/

.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.menu-item {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #1a179c; /* Colore base blu scuro */
    letter-spacing: 2px;
    transition: color 0.3s;
}

.menu-item.active {
    color: #00a2ff !important; /* Azzurro chiaro per la voce attiva */
}

.divider {
    height: 20px;
    width: 2px;
    background-color: #1a179c;
}

#nav, #topMenu {
    display: none;
}